<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

      <!-- Use ONE joint per side (plugin limitation).
           We'll drive the front wheels for now. -->
      <left_joint>front_left_wheel_joint</left_joint>
      <right_joint>front_right_wheel_joint</right_joint>

      <!-- Geometry from your rover -->
      <wheel_separation>0.30</wheel_separation>
      <wheel_diameter>0.12</wheel_diameter>

      <!-- Limits -->
      <max_wheel_torque>200</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>

      <!-- ROS I/O -->
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>

      <!-- Frames -->
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

      <!-- Output flags -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

      <!-- Optional: update rate -->
      <update_rate>50</update_rate>

    </plugin>
  </gazebo>

</robot>
