<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:if value="$(arg sim_mode)">
    <ros2_control name="GazeboSystem" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
            <param name="min_velocity">-10</param>
            <param name="max_velocity">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
            <param name="min_velocity">-10</param>
            <param name="max_velocity">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
              <param name="min_velocity">-10</param>
              <param name="max_velocity">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
              <param name="min_velocity">-10</param>
              <param name="max_velocity">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:if>

  <gazebo>
    <plugin  name="gazebo_ros2_control"  filename="libgazebo_ros2_control.so">
      <parameters>/home/js/lunabotics/qpl_ws/src/qpl_rover/config/controllers.yaml</parameters>
      <parameters>$(find qpl_rover)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
    </plugin>
  </gazebo>




</robot>
