<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="rover_core.xacro" />

    <xacro:include filename="ros2_control.xacro" />

    <xacro:include filename="depth_camera.xacro" />

    <xacro:include filename="lidar_2d.xacro" />

    <xacro:include filename="back_camera.xacro" />

    
    <xacro:include filename="imu.xacro"/>

    <xacro:imu_sensor parent_link="base_link"/>
    
</robot>