<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="inertial_macros.xacro"/>

  <!-- Materials -->
  <material name="gray"><color rgba="0.6 0.6 0.6 1.0"/></material>
  <material name="black"><color rgba="0.05 0.05 0.05 1.0"/></material>
  <material name="red"><color rgba="0.8 0.1 0.1 1.0"/></material>
  <material name="blue"><color rgba="0.2 0.2 1.0 1.0"/></material>

  <!-- ========================================================= -->
  <!-- Main dimensions                                           -->
  <!-- ========================================================= -->

  <!-- Bottom welded frame (kept TEMPORARILY to not break drum, needs REMOVED) -->
  <xacro:property name="base_x" value="0.925"/>
  <xacro:property name="base_y" value="0.745"/>
  <xacro:property name="base_z" value="0.025"/>

  <!-- Square tubing cross-section: 1 inch x 1 inch -->
  <xacro:property name="bar_t" value="0.0254"/>

  <!-- Base frame bar lengths -->
  <xacro:property name="base_long_len" value="1.17460"/>
  <xacro:property name="base_short_len" value="0.74360"/>

  <!-- Top frame bar lengths -->
  <xacro:property name="top_long_len" value="0.8396"/>
  <xacro:property name="top_short_len" value="0.74360"/>

  <!-- Support bar lengths -->
  <xacro:property name="upper_support_len" value="0.2246"/>
  <xacro:property name="lower_support_len" value="0.1746"/>
  <xacro:property name="wheel_support_len" value="0.9"/>

  <!-- Wheel dimensions -->
  <xacro:property name="wheel_r" value="0.15"/>
  <xacro:property name="wheel_w" value="0.15"/>

  <!-- ========================================================= -->
  <!-- Derived values                                            -->
  <!-- ========================================================= -->

  <!-- Base lift -->
  <xacro:property name="base_link_z" value="${wheel_r / 2 + lower_support_len + bar_t}"/>

  <!-- Top frame position -->
  <xacro:property name="top_frame_z" value="${upper_support_len + bar_t}"/>

  <!-- ========================================================= -->
  <!-- Base frames                                               -->
  <!-- ========================================================= -->

  <link name="base_footprint"/>
  <link name="base_link"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${base_link_z}" rpy="0 0 0"/>
  </joint>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- ========================================================= -->
  <!-- Bar macro                                                 -->
  <!-- ========================================================= -->

  <xacro:macro name="box_member" params="name sx sy sz mass colour">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${sx} ${sy} ${sz}"/>
        </geometry>
        <material name="${colour}"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${sx} ${sy} ${sz}"/>
        </geometry>
      </collision>

      <xacro:inertial_box mass="${mass}" x="${sx}" y="${sy}" z="${sz}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <gazebo reference="${name}">
      <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>

  <!-- ========================================================= -->
  <!-- Bottom welded frame                                       -->
  <!-- ========================================================= -->

  <xacro:box_member
    name="front_base_bar"
    sx="${bar_t}"
    sy="${base_short_len}"
    sz="${bar_t}"
    mass="1.0"
    colour="black"/>

  <xacro:box_member
    name="front_inner_base_bar"
    sx="${bar_t}"
    sy="${base_short_len}"
    sz="${bar_t}"
    mass="1.0"
    colour="black"/>

  <xacro:box_member
      name="rear_base_bar"
      sx="${bar_t}"
      sy="${base_short_len}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
    name="rear_inner_base_bar"
    sx="${bar_t}"
    sy="${base_short_len}"
    sz="${bar_t}"
    mass="1.0"
    colour="black"/>

  <xacro:box_member
      name="left_base_bar"
      sx="${base_long_len}"
      sy="${bar_t}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="right_base_bar"
      sx="${base_long_len}"
      sy="${bar_t}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <joint name="front_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_base_bar"/>
    <origin xyz="${base_long_len / 2 + bar_t / 2} 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="front_inner_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_inner_base_bar"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="rear_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_base_bar"/>
    <origin xyz="${-base_long_len / 2 - bar_t / 2} 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="rear_inner_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_inner_base_bar"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="left_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_base_bar"/>
    <origin xyz="0 ${base_short_len / 2 - bar_t / 2} 0" rpy="0 0 0"/>
  </joint>

  <joint name="right_base_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_base_bar"/>
    <origin xyz="0 ${-base_short_len / 2 + bar_t / 2} 0" rpy="0 0 0"/>
  </joint>

  <!-- ========================================================= -->
  <!-- Top welded frame                                          -->
  <!-- ========================================================= -->

  <xacro:box_member
    name="front_top_bar"
    sx="${bar_t}"
    sy="${top_short_len}"
    sz="${bar_t}"
    mass="1.0"
    colour="black"/>

  <xacro:box_member
      name="rear_top_bar"
      sx="${bar_t}"
      sy="${top_short_len}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="left_top_bar"
      sx="${top_long_len}"
      sy="${bar_t}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="right_top_bar"
      sx="${top_long_len}"
      sy="${bar_t}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <joint name="front_top_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_top_bar"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} 0 ${top_frame_z}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_top_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_top_bar"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} 0 ${top_frame_z}" rpy="0 0 0"/>
  </joint>

  <joint name="left_top_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_top_bar"/>
    <origin xyz="0 ${top_short_len / 2 - bar_t / 2} ${top_frame_z}" rpy="0 0 0"/>
  </joint>

  <joint name="right_top_bar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_top_bar"/>
    <origin xyz="0 ${-top_short_len / 2 + bar_t / 2} ${top_frame_z}" rpy="0 0 0"/>
  </joint>

  <!-- ========================================================= -->
  <!-- Upper supports                                            -->
  <!-- ========================================================= -->

  <xacro:box_member
      name="front_left_upper_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${upper_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="front_right_upper_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${upper_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="rear_left_upper_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${upper_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="rear_right_upper_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${upper_support_len}"
      mass="1.0"
      colour="black"/>

  <joint name="front_left_upper_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_left_upper_support"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} ${base_short_len / 2 - bar_t / 2} ${upper_support_len / 2 + bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="front_right_upper_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_right_upper_support"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} ${-base_short_len / 2 + bar_t / 2} ${upper_support_len / 2 + bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_left_upper_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_left_upper_support"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} ${base_short_len / 2 - bar_t / 2} ${upper_support_len / 2 + bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_right_upper_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_right_upper_support"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} ${-base_short_len / 2 + bar_t / 2} ${upper_support_len / 2 + bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <!-- ========================================================= -->
  <!-- Lower supports                                            -->
  <!-- ========================================================= -->

  <xacro:box_member
      name="front_left_lower_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${lower_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="front_right_lower_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${lower_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="rear_left_lower_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${lower_support_len}"
      mass="1.0"
      colour="black"/>

  <xacro:box_member
      name="rear_right_lower_support"
      sx="${bar_t}"
      sy="${bar_t}"
      sz="${lower_support_len}"
      mass="1.0"
      colour="black"/>

  <joint name="front_left_lower_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_left_lower_support"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} -0.1396 ${-lower_support_len / 2 - bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="front_right_lower_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_right_lower_support"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} 0.1396 ${-lower_support_len / 2 - bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_left_lower_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_left_lower_support"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} -0.1396 ${-lower_support_len / 2 - bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_right_lower_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_right_lower_support"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} 0.1396 ${-lower_support_len / 2 - bar_t / 2}" rpy="0 0 0"/>
  </joint>

  <!-- ========================================================= -->
  <!-- Wheel supports                                            -->
  <!-- ========================================================= -->

  <xacro:box_member
    name="front_wheel_support"
    sx="${bar_t}"
    sy="${wheel_support_len}"
    sz="${bar_t}"
    mass="1.0"
    colour="black"/>

  <xacro:box_member
      name="rear_wheel_support"
      sx="${bar_t}"
      sy="${wheel_support_len}"
      sz="${bar_t}"
      mass="1.0"
      colour="black"/>

  <joint name="front_wheel_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_wheel_support"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} 0 ${-lower_support_len - bar_t}" rpy="0 0 0"/>
  </joint>

  <joint name="rear_wheel_support_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_wheel_support"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} 0 ${-lower_support_len - bar_t}" rpy="0 0 0"/>
  </joint>

  <!-- ========================================================= -->
  <!-- Wheel macro                                               -->
  <!-- ========================================================= -->

  <xacro:macro name="wheel_link" params="name">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="${pi / 2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_r}" length="${wheel_w}"/>
        </geometry>
        <material name="red"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi / 2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_r * 0.98}" length="${wheel_w * 0.95}"/>
        </geometry>
      </collision>

      <xacro:inertial_cylinder mass="0.5" length="${wheel_w}" radius="${wheel_r}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <gazebo reference="${name}">
      <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="${name}">
      <fdir1>1 0 0</fdir1>
      <mu1>1.4</mu1>
      <mu2>0.2</mu2>
      <slip1>0.0</slip1>
      <slip2>0.0</slip2>
    </gazebo>
  </xacro:macro>

  <!-- ========================================================= -->
  <!-- Wheels                                                    -->
  <!-- ========================================================= -->

  <xacro:wheel_link name="front_left_wheel"/>
  <xacro:wheel_link name="front_right_wheel"/>
  <xacro:wheel_link name="rear_left_wheel"/>
  <xacro:wheel_link name="rear_right_wheel"/>

  <joint name="front_left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} ${wheel_support_len / 2} ${-lower_support_len - bar_t}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="front_right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
    <origin xyz="${top_long_len / 2 + bar_t / 2} ${-wheel_support_len / 2} ${-lower_support_len - bar_t}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="rear_left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rear_left_wheel"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} ${wheel_support_len / 2} ${-lower_support_len - bar_t}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="rear_right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rear_right_wheel"/>
    <origin xyz="${-top_long_len / 2 - bar_t / 2} ${-wheel_support_len / 2} ${-lower_support_len - bar_t}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

</robot>
